<!-- Front page for logged in Giftbook user -->
{% extends "base.html" %}
{% block content %}

<div class="row-fluid">
    <div class="span6">
        <img class="giftpic" src="../images/gift.jpg">
    </div>
    <div class="span6">
        <div class="top-pad-one">
            <p> Don&rsquo;t know what to get for your friend? <br>
                Receiving gifts that are wrong for you?</p>

            <p> With Giftbook, gift-giving becomes effortless!</p>

            <p> List down the gifts that you&rsquo;d like to receive.<br>
                Check out what your friends would like as gifts from various online sources. </p>
        </div>
    </div>
</div>
{% endblock %}
