<!-- Search page -->
{% extends "base.html" %}
{% block content %}

    <form action="/display" method="post">
        <fieldset>
            <div class="row-fluid">
                <p> Enter the email of the person you wish to search for: </p>

                <div class="span12">
                    Email: <input class="input-xlarge" type="text" name="email">
                </div>
                <p><input type="submit" value="Submit"></p>
            </div>
        </fieldset>
    </form>

{% endblock %}