<!-- Wish list page for logged in Giftbook user -->
<!DOCTYPE HTML>
<html>
<head>
    <title> Giftbook</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="container">

    <!-- Top bar -->
    <div class="row top-container">
        <div class="span5">
            <img class="logo" src="../images/logo.png">
        </div>
        <div class="span4 offset8 signin-align">
            <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
        </div>
    </div>
    <!-- End of top bar -->

    <!-- Main navigation -->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/giftbook">Home</a></li>
                <li><a href="/wishlist">Wish List</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div>
    </div>

    <form action="/addlist" method="post">
        <fieldset>
            <div class="row-fluid">
                <p> Add item to wish list: </p>
            </div>
            <div class="row">
                <div class="span5">
                    Item url: <input class="input-xlarge" type="text" name="item_url">
                </div>
                <div class="span6">
                    Image url: <input class="input-xlarge" type="text" name="image_url">
                </div>
            </div>

            <div class="row">
                <div class="span6">
                    <p> Item description: <br>
                        <textarea class="input-block-level" name="desc" rows="3"> </textarea></p>

                    <p><input type="submit" value="Submit">
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
